# Configuration file

##########################################################################################################
# versioncheck
#--------------------------------------------------------------------------------------------------------#
# ichun.config.versionCheck.comment
##########################################################################################################

versioncheck {
    # ichun.config.versionNotificationFrequency.comment
    # 
    # Min: 0
    # Max: 3
    I:versionNotificationFrequency=0

    # ichun.config.versionNotificationTypes.comment
    # 
    # Min: 0
    # Max: 2
    I:versionNotificationTypes=1
}


##########################################################################################################
# versionsave
#--------------------------------------------------------------------------------------------------------#
# ichun.config.versionSave.comment
##########################################################################################################

versionsave {
    I:dayCheck=19
    S:lastCheck=Morph: 0.9.3, iChunUtil: 4.2.3
}


