# Configuration file

##########################################################################################################
# keybinds
#--------------------------------------------------------------------------------------------------------#
# ichun.config.keybind.comment
##########################################################################################################

keybinds {

    morph {
        # morph.config.prop.keyFavourite.comment
        S:keyFavourite=41

        # morph.config.prop.keySelectorCancel.comment
        S:keySelectorCancel=1

        # morph.config.prop.keySelectorDown.comment
        S:keySelectorDown=27

        # morph.config.prop.keySelectorLeft.comment
        S:keySelectorLeft=26:SHIFT

        # morph.config.prop.keySelectorRemoveMorph.comment
        S:keySelectorRemoveMorph=14

        # morph.config.prop.keySelectorRight.comment
        S:keySelectorRight=27:SHIFT

        # morph.config.prop.keySelectorSelect.comment
        S:keySelectorSelect=28

        # morph.config.prop.keySelectorUp.comment
        S:keySelectorUp=26
    }

    hats {
        S:guiKeyBind=35
    }

}


