# Configuration file

"mine mine no mi config" {
    B:"Allow 3D Rendering"=false
    B:"Allow Debug Mode"=false
    B:"Allow Griefing"=true
    B:"Allow Particles"=true
    B:"Allow Quests"=true
    B:"Allow Race/Faction"=true
    B:"Allow Ships Spawn"=true
    B:"Allow Sounds"=false
    B:"Reset Stats After Death"=true
}


