# Configuration file

"mine mine no mi config" {
    B:"Allow 3D Rendering"=false
    B:"Allow Debug Mode"=false
    B:"Allow Dev Mode"=false
    B:"Allow Griefing"=true
    B:"Allow Logia Fly"=false
    B:"Allow Milk Removing"=true
    B:"Allow Quests"=true
    B:"Allow Sounds"=false
    B:"Reset Stats After Death"=true
}


