# Configuration file

general {
    # Set to false to disable all normal other than vanilla pistons in game, this will override any settings you have bellow.
    B:"001 - Enable Normal Pistons"=true

    # Set to false to disable the double pistons in game
    B:"002 - Enable Double Pistons"=true

    # Set to false to disable the triple pistons in game
    B:"003 - Enable Triple Pistons"=true

    # Set to false to disable the quadruple pistons in game
    B:"004 - Enable Quadruple Pistons"=true

    # Set to false to disable the quintuple pistons in game
    B:"005 - Enable Quintuple Pistons"=true

    # Set to false to disable the sextuple pistons in game
    B:"006 - Enable Sextuple Pistons"=true

    # Set to false to disable the septuple pistons in game
    B:"007 - Enable Septuple Pistons"=true

    # Set to false to disable the octuple pistons in game
    B:"008 - Enable Octuple Pistons"=true

    # Set to false to disable the double sticky pistons in game
    B:"009 - Enable Double Sticky Pistons"=true

    # Set to false to disable the triple sticky pistons in game
    B:"010 - Enable Triple Sticky Pistons"=true

    # Set to false to disable the quadruple sticky pistons in game
    B:"011 - Enable Quadruple Sticky Pistons"=true

    # Set to false to disable the quintuple sticky pistons in game
    B:"012 - Enable Quintuple Sticky Pistons"=true

    # Set to false to disable the sextuple sticky pistons in game
    B:"013 - Enable Sextuple Sticky Pistons"=true

    # Set to false to disable the septuple sticky pistons in game
    B:"014 - Enable Septuple Sticky Pistons"=true

    # Set to false to disable the octuple sticky pistons in game
    B:"015 - Enable Octuple Sticky Pistons"=true

    # Set to false to disable all super pistons in game, this will override any settings you have bellow.
    B:"016 - Enable Super Pistons"=true

    # Set to false to disable the super pistons (not the whole category) in game
    B:"017 - Enable Super Pistons"=true

    # Set to false to disable the double super pistons in game
    B:"018 - Enable Double Super Pistons"=true

    # Set to false to disable the triple super pistons in game
    B:"019 - Enable Triple Super Pistons"=true

    # Set to false to disable the quadruple super pistons in game
    B:"020 - Enable Quadruple Super Pistons"=true

    # Set to false to disable the quintuple super pistons in game
    B:"021 - Enable Quintuple Super Pistons"=true

    # Set to false to disable the sextuple super pistons in game
    B:"022 - Enable Sextuple Super Pistons"=true

    # Set to false to disable the septuple super pistons in game
    B:"023 - Enable Septuple Super Pistons"=true

    # Set to false to disable the octuple super pistons in game
    B:"024 - Enable Octuple Super Pistons"=true

    # Set to false to disable the super sticky pistons (not the whole category) in game
    B:"025 - Enable Super Sticky Pistons"=true

    # Set to false to disable the double super sticky pistons in game
    B:"026 - Enable Double Super Sticky Pistons"=true

    # Set to false to disable the triple super sticky pistons in game
    B:"027 - Enable Triple Super Sticky Pistons"=true

    # Set to false to disable the super sticky quadruple pistons in game
    B:"028 - Enable Quadruple Super Sticky Pistons"=true

    # Set to false to disable the super sticky quintuple pistons in game
    B:"029 - Enable Quintuple Super Sticky Pistons"=true

    # Set to false to disable the super sticky sextuple pistons in game
    B:"030 - Enable Sextuple Super Sticky Pistons"=true

    # Set to false to disable the super sticky septuple pistons in game
    B:"031 - Enable Septuple Super Sticky Pistons"=true

    # Set to false to disable the super sticky octuple pistons in game
    B:"032 - Enable Octuple Super Sticky Pistons"=true

    # Set to false to disable all redstone pistons in game, this will override any settings you have bellow.
    B:"033 - Enable Redstone Pistons"=true

    # Set to false to disable the redstone pistons (not the whole category) in game
    B:"034 - Enable Redstone Pistons"=true

    # Set to false to disable the redstone sticky pistons (not the whole category) in game
    B:"035- Enable Redstone Sticky Pistons"=true

    # Set to false to disable the gravitational pistons in game
    B:"036 - Enable Gravitational Pistons"=true

    # Set to false to disable the sticky gravitational pistons in game
    B:"037 - Enable Gravitational Sticky Pistons"=true
}


