# Configuration file

##########################################################################################################
# abilities
#--------------------------------------------------------------------------------------------------------#
# morph.config.cat.abilities.comment
##########################################################################################################

abilities {
    # morph.config.prop.abilities.comment
    # 
    # Min: 0
    # Max: 1
    I:abilities=1

    # morph.config.prop.customMobToKillForFlight.comment
    S:customMobToKillForFlight=

    # morph.config.prop.customPatchLink.comment
    S:customPatchLink=

    # morph.config.prop.disableEarlyGameFlight.comment
    # 
    # Min: 0
    # Max: 2
    I:disableEarlyGameFlight=0

    # morph.config.prop.disableEarlyGameFlightMode.comment
    # 
    # Min: 0
    # Max: 1
    I:disableEarlyGameFlightMode=0

    # morph.config.prop.disabledAbilities.comment
    S:disabledAbilities=

    # morph.config.prop.hostileAbilityDistanceCheck.comment
    # 
    # Min: 0
    # Max: 128
    I:hostileAbilityDistanceCheck=6

    # morph.config.prop.hostileAbilityMode.comment
    # 
    # Min: 0
    # Max: 4
    I:hostileAbilityMode=0
}


##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# morph.config.cat.clientOnly.comment
##########################################################################################################

clientonly {
    # morph.config.prop.handRenderOverride.comment
    # 
    # Min: 0
    # Max: 1
    I:handRenderOverride=1

    # morph.config.prop.renderCrosshairInRadialMenu.comment
    # 
    # Min: 0
    # Max: 1
    I:renderCrosshairInRadialMenu=0

    # morph.config.prop.showAbilitiesInGui.comment
    # 
    # Min: 0
    # Max: 1
    I:showAbilitiesInGui=1

    # morph.config.prop.sortMorphs.comment
    # 
    # Min: 0
    # Max: 3
    I:sortMorphs=0
}


##########################################################################################################
# gameplay
#--------------------------------------------------------------------------------------------------------#
# morph.config.cat.gameplay.comment
##########################################################################################################

gameplay {
    # morph.config.prop.NBTStripper.comment
    # 
    # Min: 0
    # Max: 1
    I:NBTStripper=1

    # morph.config.prop.allowMorphSelection.comment
    # 
    # Min: 0
    # Max: 1
    I:allowMorphSelection=1

    # morph.config.prop.blacklistedMobs.comment
    S:blacklistedMobs=

    # morph.config.prop.blackwhitelistedPlayers.comment
    S:blackwhitelistedPlayers=

    # morph.config.prop.bossMorphs.comment
    # 
    # Min: 0
    # Max: 1
    I:bossMorphs=0

    # morph.config.prop.canSleepMorphed.comment
    # 
    # Min: 0
    # Max: 1
    I:canSleepMorphed=0

    # morph.config.prop.childMorphs.comment
    # 
    # Min: 0
    # Max: 1
    I:childMorphs=0

    # morph.config.prop.instaMorph.comment
    # 
    # Min: 0
    # Max: 1
    I:instaMorph=0

    # morph.config.prop.listIsBlacklist.comment
    # 
    # Min: 0
    # Max: 1
    I:listIsBlacklist=0

    # morph.config.prop.loseMorphsOnDeath.comment
    # 
    # Min: 0
    # Max: 2
    I:loseMorphsOnDeath=0

    # morph.config.prop.playerMorphs.comment
    # 
    # Min: 0
    # Max: 1
    I:playerMorphs=1

    # morph.config.prop.showPlayerLabel.comment
    # 
    # Min: 0
    # Max: 1
    I:showPlayerLabel=0

    # morph.config.prop.useLocalResources.comment
    # 
    # Min: 0
    # Max: 1
    I:useLocalResources=0
}


